<div>
    <label for="category" >Choisir une catégorie</label>
    <select name="category" id="category" #categorySelect (change)="getByCategory(categorySelect.value)">
        <option value="">--Please choose an option--</option>
        @for (categorie of categories$ | async; track categorie){
        <option [value]="categorie">{{ categorie }}</option>
        }
    </select>
</div>
<div>
    <input type="text" name="filter" #filter (input)="getFilter(filter.value)">
</div>
<div>
@for (product of products$ | async; track product.id){
    <app-product [product]="product"></app-product>
    <button (click)="addToCart(product.id)">Ajouter au panier</button>
}
</div>
<app-pagination 
  [currentPage]="currentPage" 
  (pageChange)="onPageChange($event)">
</app-pagination>